# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.4A3DJV_RA_Myst.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\GitHub\4A3DJV_RA_Myst\.idea\.idea.4A3DJV_RA_Myst\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
